<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title | default(value="Blog") }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>
<body>
    <header>
        <a href="{{ get_url(path='/') }}"><strong>{{ config.title | default(value="Blog") }}</strong></a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
